.contact-container {
    text-align: center;
    margin-bottom: 30px;
    
    min-height: calc(100vh - 150px); /* Nowy margines dolny, gdzie 150px to wysokość stopki */
    display: flex;
    flex-direction: column;

	}

.clinic-title-contact {
    font-size: 2.5em;
    color: #1f0471;
    margin-bottom: 20px;
    border: 10px solid #1f0471;
    padding: 15px 25px;
    border-radius: 20px;
    background-color: #ffffffff;
    margin-top: 20px; /* Zmniejszenie marginesu górnego */
}

.clinic-description-contact {
    
    padding: 20px;
    margin: 50px auto; /* Usunięcie marginesu dolnego */
    border-radius: 20px;
    background-color:#1f0471;
}

.contact-clinic-description-title {
    font-size: 1.5em;
    color: #1f0471;
    margin-bottom: 10px;
}

.contact-clinic-description ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.contact-clinic-description ul li {
    font-size: 1.2em;
    color: #000000;
    line-height: 1.5;
    margin-bottom: 10px;
}

.frame-contact {
    border: 2px solid rgb(48, 182, 244);
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(93, 165, 243);
}
.images-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.clinic-image {
    border-radius: 10px;
}

.small-image {
    width: 30%;
}

.medium-image {
    width: 30%;
}

.large-image {
    width: 30%;
}
