/* Kontener formularza */
.forgot-password-container {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}

/* Formularz */
.forgot-password-form {
	padding: 20px;
	background-color: rgba(164, 199, 238, 0.884);
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: 400px; /* Nowa szerokość formularza */
	margin: auto; /* Centrowanie formularza */
}

/* Tytuł formularza */
.forgot-password-title {
	margin-top: 0;
	font-size: 24px;
	text-align: center;
	color: #333;
}

/* Inputy */
.forgot-password-input {
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 8px; /* Zaokrąglenie inputów */
	box-sizing: border-box;
	font-size: 16px;
}

/* Przycisk */
.forgot-password-submit {
	width: 100%;
	padding: 10px;
	background-color: #26e614;
	border: none;
	border-radius: 8px;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
}

/* Komunikat */
.forgot-password-message {
	margin-top: 20px;
	font-size: 16px;
	color: #ff0000;
	text-align: center;
}

.input-container {
	display: flex; /* Ustawienie kontenera na flexbox */
	justify-content: center; /* Wyśrodkowanie elementów wzdłuż osi poziomej */
	align-items: center; /* Wyśrodkowanie elementów wzdłuż osi pionowej */
	margin-bottom: 20px; /* Dodaj margines na dole */
}

.input-container input {
	width: 95%; /* Ustaw szerokość pola wejściowego na 95% */
	height: 40px; /* Ustaw wysokość pola wejściowego na 40px */
	font-size: 16px; /* Zwiększ rozmiar czcionki */
	padding: 8px; /* Dodaj wypełnienie wewnątrz pola wejściowego */
	border-radius: 8px; /* Zaokrąglenie inputów */
}

.button-container {
	margin-top: 1px; /* większy margines na górze */
}
.input-container input {
	width: 95%; /* Ustaw szerokość pola wejściowego na 95% */
	height: 40px; /* Ustaw wysokość pola wejściowego na 40px */
	font-size: 16px; /* Zwiększ rozmiar czcionki */
	padding: 8px; /* Dodaj wypełnienie wewnątrz pola wejściowego */
	border-radius: 8px; /* Zaokrąglenie inputów */
	background-color: rgba(113, 143, 177, 0.884); /* Ustaw kolor tła */
	color: white; /* Ustaw kolor tekstu na biały */
}
