/* Styl dla formularza logowania */
.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: auto;
}

.login-form {
	padding: 20px;
	background-color: rgba(164, 199, 238, 0.884);
	border-radius: 20px;
	color: black;
	width: 80%; /* Szerokość formularza dostosowana do różnych ekranów */
	/* max-width: 400px; Maksymalna szerokość formularza */
	/* margin: auto; */
}

.login-form input {
	padding: 10px;
	margin-bottom: 15px;
	border: none;
	border-radius: 5px;
	background-color: #f2f2f2;
	width: 100%; /* Szerokość inputów na pełną szerokość formularza */
}

.login-form button {
	padding: 15px;
	border: none;
	cursor: pointer;
	background-color: rgb(14, 43, 82);
	color: white;
	border-radius: 5px;
	width: 100%; /* Szerokość przycisku na pełną szerokość formularza */
}

.text {
	text-align: center;
}


/* Media queries dla różnych rozmiarów ekranu */
@media (max-width: 768px) {
	.login-form {
		padding: 15px; /* Zmniejszenie odstępów na mniejszych ekranach */
	}
}
