.image-container {
	position: relative;
	width: 100vw;
	height: 137vh;
	background-image: url("https://iursus.pl/static/files/gallery/29/1494830_1699263606.webp");
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden; /* Dodane, aby ukryć ewentualny pasek przewijania wewnątrz image-container */
}

.Main-container {
	text-align: center;
	margin-bottom: 1px; /* Zmniejszony margines */
}

.Main-title {
	font-size: 2.5em;
	color: #ffffff;
	margin-bottom: 20px;
	border: 10px solid #1f0471;
	padding: 15px 25px;
	border-radius: 20px;
	background-color: #1f0471;
}

.Main-description-box {
	border: 2px solid rgb(48, 182, 244);
	padding: 20px;
	max-width: 600px;
	margin: 10px auto 30px; /* Zmniejszony margines na dole */
	border-radius: 20px;
	background-color: rgb(93, 165, 243);
}

.Main-description {
	font-size: 1.2em;
	color: #000000;
	line-height: 1.5;
}

.Main-highlight {
	font-weight: bold;
	color: #e80909;
}

.services-container {
	display: flex;
	justify-content: space-between;
	margin-top: 0px;
	margin-bottom: 30px; /* Zmniejszony margines na dole */
	overflow: hidden; /* Dodane, aby ukryć ewentualny pasek przewijania wewnątrz services-container */
}

.service-box {
	width: 45%;
	padding: 5px;

	border-radius: 20px;
	background-color: #1f0471;
}

.service-title {
	font-size: 1.5em;
	color: #ffffff;
	margin-bottom: 10px;
}

.service-list {
	list-style-type: none;
	padding: 0;
}

.service-list li {
	font-size: 1.2em;
	color: #ffffff;
	margin-bottom: 5px;
}
